.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "time links"
        "weather links"
        "password links";
    gap: 30px;
    margin: 50px;
}

.time-container {
    grid-area: time;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.weather {
    grid-area: weather;
}

.password-container {
    grid-area: password;
}

.list-container {
    grid-area: links;
}

.weather,
.password-container,
.list-container {
    background-color: #111111b4;
    padding: 40px;
    border-radius: 12px;
    text-align: center;

    width: 380px;
    max-width: 100%;
    margin: 0 auto;
}


.main>section {
    margin-bottom: 30px;
}

.clock {
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    opacity: 0.9;
    margin: 90px 0px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.753);
}

.clock .time {
    font-size: 50px;
    font-weight: 700;
}

.clock .date,
.clock .time-zone {
    font-size: 18px;
    margin-top: 5px;
}


.weather #currentWeather {
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.weather #forecastWeather li {
    margin-bottom: 5px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.currentWeather {
    text-align: left;
    line-height: 8px;
}

.current-data {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 15px 0px;
}

.current-grades {
    display: flex;
    align-items: center;
    gap: 5px;
}

.current-grades div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.current-grades div p {
    font-size: 50px;
    letter-spacing: -3px;
}

.current-grades div img {
    height: 30px;
}

.current-data ul {
    line-height: 20px;
    font-size: 16px;
}

div h2 {
    margin-bottom: 15px;
}

.forecastWeather {
    display: flex;
    padding-bottom: 15px;
    gap: 15px;
    list-style: none;
    overflow-x: scroll;
    white-space: nowrap;
    max-width: 360px;
}

.forecastWeather li span p {
    margin-bottom: -5px;
    font-size: 15px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 23px;
    margin: 15px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.title img {
    width: 25px;
    margin-top: -15px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.passwordForm label {
    display: block;
    margin-bottom: -5px;
    font-weight: 500;
    word-break: break-all;

}

.input-container input,
.passwordForm input {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #333;
    background-color: #222;
    opacity: 0.8;
    color: #fff;
}

.input-container input {
    width: 100%
}

.add-link-button,
.passwordForm button {
    padding: 10px 15px;
    background-color: #0199be;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 20px;
    font-family: var(--font-primary);
}

.add-link-button{
    display: block;
    margin: 20px auto;
}

.add-link-button:hover,
.passwordForm button:hover {
    background-color: #666;
}

.passwordResult {
    margin-top: 20px;
    font-family: monospace;
    word-break: break-all;
}

.input-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}


.links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin: 10px 20px;
    padding: 30px;
    background-color: #5252523f;
    border-radius: 10px;
}

.links-container li a {
    text-decoration: none;
    color: white;
}

.links-container li button {
    border: none;
    background-color: #ffffff4b;
    border-radius: 3px;
    font-size: 15px;
}

.links-container li button:hover {
    background-color: #ffffff69;
}

@media (max-width: 1400px) {
    .main {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 20px;
    }

    .time-container {
        flex-direction: column;
    }

    .weather,
    .password-container,
    .list-container {
        width: 380px;
        max-width: 100%;
        margin: 0 auto;
    }
}