.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "time links" "weather links" "password links";
    gap: 30px;
    margin: 30px 50px;
}

@media (max-width: 1024px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-areas: "time" "weather" "password" "links";
    }

    .time-container {
        flex-direction: column;
    }

    .weather,
    .password-container,
    .list-container,
    .forecastWeather {
        max-width: 100%;
        width: 100%;
    }
}

.clock {
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    opacity: 0.9;
    margin: 90px 0px;
}

.time-container {
    grid-area: time;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.weather {
    grid-area: weather;
    background-color: #111111b4;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    height: 260px;
    max-width: 550px;
}

.list-container {
    grid-area: links;
    background-color: #111111b4;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    height: auto;
    max-width: 420px;
}

.password-container {
    grid-area: password;
    background-color: #111111b4;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    height: 260px;
    max-width: 550px;
    margin-left: 265px;
    margin-top: -55px;
}

.clock .time {
    font-size: 50px;
    font-weight: 700;
}

.clock .date,
.clock .time-zone {
    font-size: 18px;
    margin-top: 5px;
}

.weather #currentWeather {
    margin-bottom: 10px;
}

.weather #forecastWeather li {
    margin-bottom: 5px;
}

.currentWeather {
    text-align: left;
    line-height: 8px;
}

.current-data {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.current-grades {
    display: flex;
    align-items: center;
    gap: 5px;
}

.current-grades div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.current-grades div p {
    font-size: 50px;
    letter-spacing: -3px;
}

.current-grades div img {
    height: 30px;
}

.current-data ul {
    line-height: 20px;
}

.forecastWeather {
    display: flex;
    padding-bottom: 15px;
    gap: 15px;
    list-style: none;
    overflow-x: scroll;
    white-space: nowrap;
    width: 550px;
}

.forecastWeather li span p {
    margin-bottom: -5px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 25px;
    margin: 15px;
}

div h2 {
    margin-bottom: 15px;
}

.title img {
    width: 25px;
}

.passwordForm label {
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
}

.input-container input,
.passwordForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #333;
    background-color: #222;
    opacity: 0.8;
    color: #fff;
}

.add-link-button,
.passwordForm button {
    padding: 10px 15px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 20px;
    font-family: var(--font-primary);
}

.add-link-button:hover,
.passwordForm button:hover {
    background-color: #666;
}

.passwordResult {
    margin-top: 20px;
    font-family: monospace;
    word-break: break-all;
}

.input-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin: 10px 20px;
    padding: 30px;
    background-color: #5252523f;
    border-radius: 10px;
}

.links-container li a {
    text-decoration: none;
    color: white;
}

.links-container li button {
    border: none;
    background-color: #ffffff4b;
    border-radius: 3px;
    font-size: 15px;
}

.footer {
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 1000;
    margin-right: 30px;
}

.footer nav {
    display: flex;
    gap: 12px;
}

nav a img {
    width: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

nav a img:hover {
    transform: scale(1.2);
    filter: brightness(1.3);
}

@media (max-width: 768px) {
    .footer {
        display: none;
    }
}